

body {
font-family: 'Lobster Two', cursive;
}

#root{
  text-align: center;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-left: 150px;
}

 .actual-img {
  position: center;
  cursor: pointer;
  width: 205px  
} 

.content {
color: teal;
font-size: 50px;
}

.question {
 color: black;
 font-size: 20px;
}

.start-button {
  text-align: center;
  color: black;
  padding: 15px 32px;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  margin: 4px 2px;
  border-radius: 25px;
  border-color: black;
  background-color: white;
  font-family: 'Capriola', sans-serif;
}

.horoeka {
  width: 15%;
  height: auto;
  padding: 0px,0px,100px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}